<%= form_tag("/", method: "get") do %>
  <%= label_tag("Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @song %>
  <h1><%= @song.title %></h1>
  <p><%= @song.primary_artist.name %></p>
  <%= image_tag(@song.primary_artist.image_url, :alt => @song.primary_artist.name) %>
  <%= @lyrics.html_safe %>
<% end %>