<h1>Songs...To Be Continued.</h1>

<%= form_tag("/", method: "get") do %>
  <%= label_tag("Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @song %>
  <%= @song.primary_artist.name %>
  <%= image_tag(@song.primary_artist.image_url, :alt => @song.primary_artist.name) %>
  <%= @song.title %>
  <%= @lyrics.html_safe %>
<% end %>